.App {
  padding: 20px 40px 40px 40px;
  margin: 20px 320px 40px 100px;
  box-shadow: #9e9e9e4f 7px 7px 10px 3px;
  border-radius: 45px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.tokenNum {
  font-size: 18px;
  padding: 5px 10px 5px 8px;
  background-color: #3535ff;
  color: white;
  border-radius: 50px;
}

